@font-face {
  font-family: "GROBOLD";
  font-style: normal;
  font-weight: normal;
  src: local("GROBOLD"), url("./components/fonts/GROBOLD.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "GROBOLD";
  background: url(./components/images/village.jpg) no-repeat center center fixed;
  background-size: cover;
}
